.not-found-wrapper {
  @include flex(flex, center, center);
  margin: 0 auto;
}

.not-found-format {
  @include flex(flex, center, center);
  padding: 10px;
}

.not-found-content {
  @include flex(flex, center, flex-start, column);
  width: 780px;
  height: 300px;
  border: solid 1px $color-portfolio-content-frame;
  border-radius: 10px;
}

.not-found-content-header {
  @include flex(flex, flex-start, center, column);
  font-size: 2rem;
  width: 100%;
  min-height: 100px;
  color: $color-main-header-text;
  background-color: $color-main-header;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  & .header-name {
    margin: 10px 0 0 20px;
  }
  & .header-back {
    @include flex(flex, flex-end, center);
    font-size: 1.2rem;
    text-decoration: none;
    color: $color-main-header-text;
    margin: 0 0 0 20px;
  }
}

.not-found-content-main {
  @include flex(flex, center, center);
  height: 100%;
  font-size: 5rem;
  font-weight: 700;
  border-bottom-right-radius: 10px;
}
