.column-photo {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 10%;
  margin: 5%;
}

.column-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: rgb(250, 243, 235);
  border-radius: 20px;
}

.column-languages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: rgb(250, 243, 235);
  border-radius: 20px;
  & .languages-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.4rem;
    border-top: solid 2px grey;
    border-bottom: solid 2px grey;
  }
}


.column-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: rgb(250, 243, 235);
  border-radius: 20px;
  & .skills-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.4rem;
    border-top: solid 2px grey;
    border-bottom: solid 2px grey;
  }
  & .skills-text {
    margin: 10px 0 0 0;
    font-size: 1rem;
  }
}