.column-photo {
  @include flex(flex, center, center);
  box-sizing: border-box;
  width: 200px;
  height: 225px;
  background-color: rgb(243, 243, 243);
  border-radius: 30px;
  margin: 5%;
}

.column-contacts {
  @include flex(flex, flex-start, flex-start, column);
  width: 200px;
  margin: 0 0 15px 0;
}

.column-languages {
  @include flex(flex, center, flex-start, column);
  width: 200px;
  margin: 20px 0;
  border-radius: 20px;
  & .languages-header {
    @include flex(flex, center, flex-start);
    width: 100%;
    font-size: 1.4rem;
    border-bottom: solid 1px $color-column-divider;
  }
  & .languages-container {
    @include flex(flex, center, center, column);
    margin: 10px 0 0 0;
    width: 100%;
  }
}

.column-skills {
  @include flex(flex, center, flex-start, column);
  width: 200px;
  margin: 20px 0;
  border-radius: 20px;
  & .skills-header {
    @include flex(flex, center, flex-start);
    width: 100%;
    font-size: 1.4rem;
    border-bottom: solid 1px $color-column-divider;
  }
  & .skills-container {
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 1rem;
  }
}