.column-photo {
  @include flex(flex, center, center);
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 10%;
  margin: 5%;
}

.column-contacts {
  @include flex(flex, center, center, column);
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.column-languages {
  @include flex(flex, center, center, column);
  width: 200px;
  height: 200px;
  border-radius: 20px;
  & .languages-header {
    @include flex(flex, center, center);
    width: 100%;
    font-size: 1.4rem;
    border-top: solid 2px $color-column-divider;
    border-bottom: solid 2px $color-column-divider;
  }
}


.column-skills {
  @include flex(flex, center, center, column);
  width: 200px;
  height: 200px;
  border-radius: 20px;
  & .skills-header {
    @include flex(flex, center, center);
    width: 100%;
    font-size: 1.4rem;
    border-top: solid 2px $color-column-divider;
    border-bottom: solid 2px $color-column-divider;
  }
  & .skills-text {
    margin: 10px 0 0 0;
    font-size: 1rem;
  }
}