.main-header {
  box-sizing: border-box;
  height: 12%;
  width: 100%;
  color: $color-main-header-text;
  padding: 3%;
  background-color: $color-main-header;
  border-top-right-radius: 10px;
  & .header-name {
    font-size: 2rem;
  }
  & .header-profession {
    font-size: 1.2rem;
  }
  & .header-portfolio {
    font-size: 1.2rem;
    text-decoration: none;
    color: $color-main-header-text;
  }
}

.main-about {
  width: 95%;
  margin: 10px 0 0 0;
  & .about-header {
    font-size: 1.4rem;
    border-bottom: solid 1px $color-main-divider;
  }
  & .about-text {
    margin: 10px 0 0 0;
    font-size: 1rem;
    text-align: justify;
  }
}

.main-projects {
  width: 95%;
  margin: 10px 0 0 0;
  font-size: 1.0rem;
  & .projects-header {
    font-size: 1.4rem;
    border-bottom: solid 1px $color-main-divider;
  }
  & .projects-container {
    margin: 10px 0 0 0;
  }
}

.main-exprerience {
  width: 95%;
  margin: 10px 0 0 0;
  & .exprerience-header {
    font-size: 1.4rem;
    border-bottom: solid 1px $color-main-divider;
  }
  & .exprerience-container {
    margin: 10px 0 0 0;
  }
}

.main-courses {
  width: 95%;
  margin: 10px 0 0 0;
  & .courses-header {
    font-size: 1.4rem;
    border-bottom: solid 1px $color-main-divider;
  }
  & .courses-container {
    margin: 10px 0 0 0;
  }
}

.main-education {
  width: 95%;
  height: 20%;

  & .education-header {
    font-size: 1.4rem;
    margin: 0 0 15px 0;
    border-bottom: solid 1px $color-main-divider;
  }
  & .education-container {
    margin: 10px 0 0 0;
  }
}
