.profile-wrapper {
  @include flex(flex, center, center);
  margin: 0 auto;
}

.profile-format {
  @include flex(flex, center, center);
  padding: 10px;
}

.profile-content {
  @include flex(flex, center, center);
  width: 780px;
  height: 1103px;
  border: solid 1px $color-portfolio-content-frame;
  border-radius: 10px;
}

.profile-column {
  @include flex(flex, center, flex-start, column);
  width: 30%;
  height: 100%;
  background-color: $color-column;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
}

.profile-main {
  @include flex(flex, center, flex-start, column);
  width: 70%;
  height: 100%;
  border-bottom-right-radius: 10px; 
}
