@import './column.scss';
@import './main.scss';

.profile-wrapper {
  @include flex(flex, center, center);
}

.profile-format {
  @include flex(flex, center, center);
  padding: 10px;
}

.profile-content {
  @include flex(flex, center, center);
  border-radius: 20px;
  width: 780px;
  height: 1103px;
}

.profile-column {
  @include flex(flex, center, flex-start, column);
  width: 35%;
  height: 100%;
  background-color: $color-column;
}

.profile-main {
  @include flex(flex, center, flex-start, column);
  width: 65%;
  height: 100%;
}
