// Common elements //

$color-main-header: rgb(38, 67, 107);
$color-main-header-text: rgb(245, 245, 245);

// Main page //

$color-column: rgb(225, 225, 225);
$color-column-divider: rgb(180, 180, 180);

$color-column-lang-background: rgb(245, 245, 245);
$color-column-lang-fullness: rgb(41, 75, 122);

$color-column-skills-tag: rgb(245, 245, 245);


$color-main-divider: rgb(180, 180, 180);

$color-main-edu-divider: rgb(190, 190, 190);
$color-main-honor-tag: rgb(160, 192, 229);
$color-main-work-divider: rgb(190, 190, 190);
$color-main-courses-divider: rgb(190, 190, 190);
$color-main-projects-divider: rgb(190, 190, 190);


// Portfolio page //

$color-portfolio-content-frame: rgb(226, 226, 226);
$color-portfolio-images: rgb(120, 120, 120);