$color-column: rgb(252, 213, 154);
$color-column-divider: rgb(180, 180, 180);

$color-column-lang-background: rgb(255, 239, 215);
$color-column-lang-fullness: rgb(175, 105, 0);

$color-main-header: rgb(226, 255, 255);
$color-main-divider: rgb(180, 180, 180);

$color-main-edu-divider: rgb(190, 190, 190);
$color-main-work-divider: rgb(190, 190, 190);
