$color-column: rgb(223, 223, 223);
$color-column-divider: rgb(180, 180, 180);

$color-column-lang-background: rgb(243, 243, 243);
$color-column-lang-fullness: rgb(41, 75, 122);

$color-main-header: rgb(38, 67, 107);
$color-main-header-text: rgb(243, 243, 243);
$color-main-divider: rgb(180, 180, 180);

$color-main-edu-divider: rgb(190, 190, 190);
$color-main-work-divider: rgb(190, 190, 190);
