.main-name-and-prof {
  box-sizing: border-box;
  height: 20%;
  width: 100%;
  padding: 3%;
  background-color: rgb(226, 255, 255);
}

.main-name {
  font-size: 2rem;
}

.main-profession {
  font-size: 1.2rem;
}