.courses-block {
  @include flex(flex, flex-start, flex-start);
  margin: 0px 0;
  width: 100%;
  height: 55px;
}

.courses-name-city-years {
  @include flex(flex, flex-start, flex-start, column);
  width: 30%;
  height: 100%;
  & .courses-name {
    font-size: 1.0rem;
    font-weight: 700;
  }
  & .courses-city {
    font-size: 0.9rem;
  }
  & .courses-years {
    font-size: 1.0rem;
  }
}

.courses-degree-text {
  @include flex(flex, flex-start, flex-start, column);
  box-sizing: border-box;
  position: relative;
  border-left: solid 1px $color-main-courses-divider;
  text-align: justify;
  width: 70%;
  height: 100%;
  padding: 0 0 0 10px;
  & .courses-degree {
    font-size: 1.0rem;
    font-weight: 700;
  }
  & .courses-text {
    font-size: 1.0rem;
  }
  &:before {
    position: absolute;
    left: -4px;
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: $color-main-courses-divider;
  }
}
