.projects-block {
  @include flex(flex, flex-start, flex-start);
  width: 100%;
}

.projects-name-container {
  @include flex(flex, flex-start, flex-start, column);
  width: 30%;
  height: 100%;
  & .projects-name {
    font-size: 1.0rem;
    font-weight: 700;
  }
}

.projects-text-container {
  @include flex(flex, flex-start, flex-start, column);
  box-sizing: border-box;
  position: relative;
  border-left: solid 1px $color-main-projects-divider;
  text-align: justify;
  width: 70%;
  height: 100%;
  padding: 0 0 0 10px;
  & .projects-text {
    padding: 4px 0 4px 0;
    font-size: 1.0rem;
  }
  &:before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    left: -4px;
    border-radius: 5px;
    background-color: $color-main-projects-divider;
  }
}
