.edu-block {
  @include flex(flex, flex-start, flex-start);
  width: 100%;
}

.edu-name-city-years {
  @include flex(flex, flex-start, flex-start, column);
  width: 30%;
  height: 100%;
  & .edu-name {
    font-size: 1.0rem;
    font-weight: 700;
  }
  & .edu-city {
    font-size: 0.9rem;
  }
  & .edu-years {
    font-size: 1.0rem;
  }
}

.edu-degree-descrition {
  @include flex(flex, flex-start, flex-start, column);
  box-sizing: border-box;
  position: relative;
  border-left: solid 1px $color-main-edu-divider;
  text-align: justify;
  width: 70%;
  height: 100%;
  padding: 0 0 15px 10px;
  & .edu-degree {
    @include flex(flex, flex-start, flex-start);
    font-size: 1.0rem;
    font-weight: 700;
    & .edu-honor {
      font-size: 0.9rem;
      font-weight: 400;
      background-color: $color-main-honor-tag;
      margin: 0 0 0 10px;
      padding: 1px 6px 2px 6px;
      border-radius: 5px;
    }
  }
  & .edu-department {
    font-size: 1.0rem;
  }
  & .edu-description {
    font-size: 1.0rem;
    margin: 4px 0 0 0;
  }
  &:before {
    position: absolute;
    left: -4px;
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: $color-main-edu-divider;
  }
}
