@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.header {
  position: relative;
  box-sizing: border-box;
  height: 12%;
  width: 100%;
  color: $color-main-header-text;
  padding: 3%;
  background-color: $color-main-header;
  border-top-right-radius: 10px;
  & .name {
    font-size: 2rem;
  }
  & .profession {
    font-size: 1.2rem;
  }
}

.switcher {
  position: absolute;
  right: 20px;
  top: 19px;
  display: flex;
}

.links {
  @include flex(flex, space-between, space-evenly);
  width: 100%;
  margin: 26px 0 0 0;
  
  & .vk,
  .github,
  .portfolio, 
  .achievements {
    @include flex(flex, flex-end, center);
    font-size: 1.2rem;
    text-decoration: none;
    color: $color-main-header-text;
    padding: 5px 10px;
    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      margin: 0 8px 0 0;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &:hover {
      background-color: $color-main-button;
      border-radius: 5px;
    }
  }

  & .vk:before {
    background-image: url('../../assets/vk.png');
  }
  & .github:before {
    background-image: url('../../assets/github.png');
  }
  & .portfolio:before {
    background-image: url('../../assets/portfolio.png');
  }
  & .achievements:before {
    background-image: url('../../assets/achievements.png');
  }
}
